@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.top {
    font-family: 'Libre Baskerville', serif;
    background-size: auto;

    @apply flex flex-wrap justify-end md:content-end;
}

.top .title {
    @apply text-2xl md:text-3xl lg:text-5xl;
}

.top .page {
    @apply whitespace-nowrap w-full xl:w-auto xl:mr-16 xl:mb-8;
}

.middle {
    display: flex;

    flex-direction: column;
    font-family: 'Montserrat', serif;
    color: #252525;
    height: calc(100vh - 180px);

    @apply mx-4 md:mx-16 text-lg md:text-2xl;
}

.bottom {
    font-family: 'Libre Baskerville', serif;
    background-color: #252525;

    @apply justify-start mt-0 text-white text-base md:text-lg;

}

.bottom > div {
    @apply mx-4 md:mx-16;
}

.bottom label {
    @apply w-44 md:w-64;
}

html,
body {min-height:100%; padding:0; margin:0;}

#wrapper {
    height: 100%;
    position:fixed;
    top:0; bottom:0; left:0; right:0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.table {display:table; width:100%; height:100%;}
.row {
    display:table-row;
}
.cell {
    /*display:table-cell;*/
}

.container {
    @apply mx-4 md:mx-16;
}

.page-header {
    @apply text-4xl mt-4 md:mt-16 mb-4 md:mb-8;
}

.libre-baskerville {
    font-family: 'Libre Baskerville', serif;
}

.montserrat {
    font-family: 'Montserrat', serif;
}
